body{
    margin-top:20px;
    padding-top:20px;
    width:960px;
    font-family: 'BioRhyme Expanded', serif;
    background-color: rgba(82, 11, 11, 0.221);
    width: 960px;
    margin:0px auto;

}


#salmon{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:150px;
    
}
cookie{
    margin:0px auto;
    width:960px;
    display:block;
}
h1{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
img{
    padding-bottom: 50px;
    padding: 10px;
}
.family img {
   display:block;
   float:left;
   padding-left:40px;
   padding-top:60px;
}
.cookies img:first-child {
    padding-left:40px;
    padding-top:60px;
}
.tshirt img{
    padding-left:80px;
    padding-top:50px;
    width:200px;
}
.tshirt p{
    margin-top:40px;
}
.cookie p {
    margin-top:50px;
}
.family, .tshirt, .locations {    
    background-color: rgba(68, 45, 45, 0.461);  
}


.family, .cookies, .tshirt, .fish {
    padding-top: 30px;
    padding-bottom: 30px;
    height:300px;
}
tshit img{
    margin-left:20px;
}
.locations{
    padding-top: 40px;
    padding-bottom: 30px;
    height:700px;
    }

.location h2{
    float:right;
}
p:first-child {
    padding-top:20px;}
p {
    
    width:53%;
    float:right;
    margin:5px;
    padding:30px;
    padding-top:50px;  
}

section {
    float:left; 
   
}
li{
    display:inline-block;
    align-content: center;
    margin-left:40px;
    padding:30px;
}
footer p {
    font-size:15px;
}
    