body {
    margin-left: 40px;
    font-family: 'BioRhyme Expanded', serif;
}
h1{
    font-weight:bold;
    padding:30px;
    font-size: 20px;
    
}
h2{
    font-size: 20px;
    font-weight: bold;
    text-transform:uppercase;
    padding: 15px;
    
    
}
img{
    padding-bottom: 50px;
    padding-top: 30px;
}
ul li { 
    margin-top: 5px;
    margin-left: 40px;
    padding-left: 15px;
}
li:nth-last-child(1){
    font-weight: bold;
    
}