body{
    font-family: 'BioRhyme Expanded', serif;
    background-color: rgba(82, 11, 11, 0.221);
    width: 960px;

}
#salmon{
    margin-left: auto;
    margin-right: auto;
    display:block;
    opacity:0.6;
}
h1{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
img{
    padding-bottom: 50px;
    padding: 10px;
}
#fam {
    align:left;
    margin:10px;

}

.one, .tshirt, .locations {
    background-color: rgba(68, 45, 45, 0.461);
    
}
.cookies img{
    
    
}

.one, .cookies, .tshirt, .fish {
    padding-top: 30px;
    padding-bottom: 30px;
    height:300px;
}
.locations{
    padding-top: 30px;
    padding-bottom: 30px;
    height:700px;}
p {
    width:53%;
    float:right;
    margin:5px;
    padding:30px;  
}

section {
    float:left; 
   
}
li{
    display:inline-block;
    align-content: center;
    background:grey;
}