
body {
    margin-left: 40px;
    font-family: 'BioRhyme Expanded', serif;
    background: #ccc;
    
}
legend{
    font-weight:bold;
    text-transform: uppercase;
    font-size: 25px;
}
fieldset {
    background-color: beige;
    max-width: 850px;
    border: 7px solid #73094c;
    border-radius: 75px;
    padding: 15px;
    text-align: center;
    line-height: 50px;
    margin: 20px;
    
}
button {
    margin:10px;
    padding: 10px;
    background-color: #e9119a5d;
    border-radius: 5px;
    font-size: 15px;
    

}
input{
    padding:5px;
    border-color: #e9119a;
}
h1{
    font-weight:bold;
    padding:30px;
    font-size: 20px;
    
}
h2{
    font-size: 20px;
    font-weight: bold;
    text-transform:uppercase;
    padding: 15px;    
}

img{
    padding-bottom: 50px;
    padding-top: 30px;
}
ul li { 
    margin-top: 5px;
    margin-left: 40px;
    padding-left: 15px;
}


table{
    width:300px;
    border: 8px solid black;
    border-radius: 25px;
    border-collapse: separate;
}
tr {
    border-radius: 15px;
}
td {
    padding:5px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    background: beige;
    
}
th {
    padding: 5px;
	border: 1px solid black;
    background: #73094c76;
    font-weight:bold;
    border-radius: 15px;
    text-align: center;
    
}
td:first-child{
    font-weight:bold;    
}
td:last-child{
    font-weight:bold;  
    background: #e9119a5d;  
}


