body{
    margin-top:20px;
    padding-top:20px;
    width:960px;
    font-family: 'BioRhyme Expanded', serif;
    background-color: rgba(82, 11, 11, 0.221);
    width: 960px;
    margin:0px auto;

}
header{
    margin:0;
}

#salmon{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:150px;
    
}
#cookie{
    display:block;
    margin-right:5px;
    padding-left:5px;
    width:960px;
    
}
h1{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
img{
    padding-bottom: 50px;
    padding: 10px;
}

.family img {
   display:block;
   float:left;
   padding-left:40px;
   padding-top:60px;
}
.cookies img:first-child {
    padding-left:40px;
    padding-top:60px;
}
.tshirt img{
    padding-left:80px;
    padding-top:50px;
    width:200px;
}
.tshirt p{
    margin-top:40px;
}
.cookie p {
    padding-top:60px;
}
.fish img:first-child{
    display:block;
    float:left;
    margin-top:50px;
    padding-left:40px;
}
.fish img{
    display:inline;
    margin-top:80px;

}
.family, .tshirt, .locations {    
    background-color: rgba(68, 45, 45, 0.461);  
}


.family, .cookies, .tshirt, .fish {
    padding-top: 30px;
    padding-bottom: 30px;
    height:300px;
}
tshit img{
    margin-left:20px;
}
.locations{
    padding-top: 40px;
    padding-bottom: 30px;
    height:700px;
    }

.locations h2{
    display:block;
    padding-left: 415px;
}
p:first-child {
    padding-top:20px;}
p {
    
    width:53%;
    float:right;
    margin:5px;
    padding:30px;
    padding-top:50px;  
}
#loc {
    font-weight:bold;
    text-transform: uppercase;
}
section {
    float:left; 
   
}
nav li{
    display:inline-block;
    margin-left:80px;
    padding:30px;
    font-weight:bold;
}
a {
    text-decoration: none;
    color:black;
}
footer p {
    font-size:8px;
    padding-left:400px;
}
    